@model EIS.WebApp.Models.ChangePasswordModel
@using EIS.WebApp.Services;
@{
    string apiurl = MyHttpContext.APIBaseURL;
    RedisAgent Cache = new RedisAgent();
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="changePasswordLabel">Change Password</h4>
        </div>
        <div class="modal-body">
            <form name="cp" id="cp" asp-action="ChangePassword" asp-controller="Account" method="post">
                <div class="form-group">
                    <label>Old Password</label>
                    <div class="form-line">
                        <input id="op" asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password">
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <div class="form-line">
                        <input id="np" asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <div class="form-line">
                        <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Confirm New Password">
                    </div>
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button id="btnSubmit" name="btnSubmit" type="button" class="btn btn-link waves-effect">Change Password</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="~/js/pages/ui/modals.js"></script>
<script src="~/js/admin.js"></script>
<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#btnSubmit').click(function () {
        var form = $("#cp");
        $.validator.unobtrusive.parse(form);
        if (form.valid()) {
            var pw = document.getElementById("op").value;
            var pid = @Cache.GetStringValue("PersonId");
            $.getJSON("@apiurl/api/account/VerifyPassword/" + pid + "/" + pw + "", function (data) {
                
                if (data == true) {
                    var npw = document.getElementById("np").value;
                    var url1 = "@apiurl/api/account/ChangePassword/" + pid + "/" + npw + "";
                    $.ajax({
                        url: url1,
                        type: 'GET',
                        success: function (data) {
                            bootbox.alert({
                                message: "Password Changed Successfully!",
                                callback: function () {
                                    window.location.href="@Url.Action("Login", "Account")";
                                }
                            });
                        },
                        error: function (data) {
                            alert(data.responseText);

                        }
                    });
                }
                
                else {
                    bootbox.alert({
                        message:"Please Enter correct old password"
                    });
                }

            });
        }
        return false;
    });
</script>