@using EIS.WebApp.Services
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json

@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Error";
    Layout = null;
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookies != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}

<html>
<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div style="height:100px"></div>
                    <div>
                        <div class="col-md-1">
                            <br />
                            <img src="~/images/access.jpg" class="image" width="40" height="40" />
                        </div>
                        <div class="col-md-11">
                            <div><h1><b>SORRY, SOMETHING WENT WRONG</b></h1></div>
                            <div>
                                <p>
                                    An Unexpected error has Occurred.

                                </p>

                                <table border="1" style="width:100%">
                                    <tr>
                                        <th>MESSAGE:</th>
                                        <td>@ViewBag.Error</td>
                                    </tr>
                                    <tr>
                                        <th>STACK TRACE:</th>
                                        <td>@ViewBag.Trace</td>
                                    </tr>
                                </table>
                            </div>

                            <div><a asp-action="Profile" asp-controller="People" asp-route-PersonId="@cookies.EmployeeCode">Go Back To Profile</a></div>
                            <div><a asp-action="Login" asp-controller="Account" asp-route-id=3>Logout</a></div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</body>
</html>

