
<html>
<head>
    <title>Dashboard</title>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    @*for pdf*@
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <style type="text/css">
        .bootstrap-datetimepicker-widget tr:hover {
            background-color: #808080;
        }
        #generateReport {

            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        #select {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        #inputyear,#inputmonth,#inputweek{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="block-header">
            <h3>Attendance Sheet</h3>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*@
                        <div class="row col-md-12">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Select Type Of Reports</label>
                                        <select class="form-control" id="select" style="width:200px;">
                                            <option value="select">Select Option</option>
                                            <option value="year" id="year">Year</option>
                                            <option value="month" id="month">Month</option>
                                            <option value="week" id="week">Week</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="inputyeardiv" hidden="hidden">
                                            <label>Select Year</label><br />
                                            <input class="form-control" type="text" id="inputyear" style="width:200px;" placeholder="select year" />
                                        </div>
                                        <div id="inputmonthdiv">
                                            <label>Select Month</label><br />
                                            <input class="form-control" type="text" id="inputmonth" style="width:200px;" placeholder="select month" />
                                        </div>
                                        <div id="inputweekdiv" hidden="hidden">
                                            <label>Select Week</label><br />
                                            <input class="form-control" type="text" id="inputweek" style="width:200px;" placeholder="select week" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <br />
                                        <input type="button" id="generateReport" value="Generate" style="font-weight:bold; font-size:16px; width:200px; height:40px; background-color:#3399ff; color:white;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                            </div>
                            
                        </div>
                        <div>
                            <div>
                                <h4 id="report"></h4>
                            </div>
                            <div id="tbl">

                            </div>
                        </div>
                    </div>
                    <div style="height:40px"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<style>
    .dataTables_wrapper .myexport .dt-buttons {
        float: right;
    }
</style>
@*for datetimepicker*@
<script src="~/plugins/momentjs/moment.js"></script>

<script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/lib/bootstrap/dist/js/moment1.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var currentDate = new Date();
        var m = ((currentDate.getMonth() + 1) >= 10) ? (currentDate.getMonth() + 1) : '0' + (currentDate.getMonth() + 1);
        var y = new Date().getFullYear();
        $('#inputmonth').val(m + '/' + y);
        document.getElementById("report").innerHTML = "Attendance Report - Monthly";
        generateReport(m + '/' + y, 'month');
    })
    $('#select').on('change', function () {
        var v = $('#select').val();
        if (v == 'year') {
            $('#inputyeardiv').show();
            $('#inputmonthdiv').hide();
            $('#inputweekdiv').hide();
            $('#inputyear').datetimepicker({
                format: "YYYY"
            });
        }
        else if (v == 'month') {
            $('#inputmonthdiv').show();
            $('#inputyeardiv').hide();
            $('#inputweekdiv').hide();
            $('#inputmonth').datetimepicker({
                format: "MM/YYYY"
            });
        }
        else if (v == 'week') {
            $('#inputmonthdiv').hide();
            $('#inputyeardiv').hide();
            $('#inputweekdiv').show();
            $("#inputweek").datetimepicker({
                format: 'DD/MM/YYYY'
            });
        }
    });
    $('#inputweek').on('dp.change', function (e) {
        var value = $("#inputweek").val();
        var firstDate = moment(value, "DD/MM/YYYY").day(0).format("DD/MM/YYYY");
        var lastDate = moment(value, "DD/MM/YYYY").day(6).format("DD/MM/YYYY");
        $("#inputweek").val(firstDate + " - " + lastDate);
    });
    $('#generateReport').on('click', function () {
        var v = $('#select').val();
        if (v == 'year') {
            var value = $("#inputyear").val();
            $("#inputyear").val(value);
            document.getElementById("report").innerHTML = "Attendance Report - Yearly";
            generateReport(value, 'year');
        }
        else if (v == 'month') {
            var value = $("#inputmonth").val();
            $("#inputmonth").val(value);
            document.getElementById("report").innerHTML = "Attendance Report - Monthly";
            generateReport(value, 'month');
         }
        else if (v == 'week') {
            var value = $("#inputweek").val();
            var firstDate = moment(value, "DD/MM/YYYY").day(0).format("DD/MM/YYYY");
            var lastDate = moment(value, "DD/MM/YYYY").day(6).format("DD/MM/YYYY");
            $("#inputweek").val(firstDate + " - " + lastDate);
            document.getElementById("report").innerHTML = "Attendance Report - Weekly";
            generateReport(firstDate + " - " + lastDate, 'week');
        }
    });
    function generateReport(value,type){
        $.ajax({
            type: 'POST',
            url: '@Url.Content("/Attendance/AllAttendance")',
            data: { "date": value, "type": type },
            success: function (data) {
                document.getElementById("tbl").innerHTML = data;
                $('#example').DataTable({
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    sDom: '<"myexport"B>ifrtlp',
                    buttons: [
                    {
                        extend: 'pdfHtml5',
                        title: 'data',
                        title: 'Employee Report',
                        text: 'Export',
                        titleAttr: 'Export to Pdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                        }],                  
                    responsive: true
                });
                }
        });
     }
</script>
<script src="../../plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

@*for pdf*@

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

