@model IEnumerable<EIS.Entities.Employee.Person>

<style type="text/css">
    td {
        width: 200px;
        text-align: center
    }

    th {
        font-size: medium;
        text-align: center
    }

    div .panel-primary {
        text-align: center
    }

    .dataTables_wrapper .myexport .dt-buttons {
        float: right;
    }

    .bootstrap-datetimepicker-widget tr:hover {
        background-color: #808080;
    }

    #generateReport {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    #select, #selectEmployee {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    #inputyear, #inputmonth, #inputweek {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
</style>
<head>
    <title>Employee wise Reports</title>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    @*for pdf*@
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="block-header">
            <HeaderWithButton header-name="Attendance Report(Employee wise)"></HeaderWithButton>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div>
                            <div class="row col-md-12">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Select Employee</label>
                                            <select class="form-control" id="selectEmployee"  asp-items="@(new SelectList(@ViewBag.Persons,"Id","FirstName"))" style="width:200px;">
                                                <option>-- Select --</option>
                                            </select>                                           
                                        </div>
                                        <div class="col-md-3">
                                            <label>Select Type Of Reports</label>
                                            <select class="form-control" id="select" style="width:200px;">
                                                <option value="month" id="month">Month</option>
                                                <option value="year" id="year">Year</option>
                                                <option value="week" id="week">Week</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <div id="inputyeardiv" hidden="hidden">
                                                <label>Select Year</label><br />
                                                <input class="form-control" type="text" id="inputyear" style="width:200px;" placeholder="select year" />
                                            </div>
                                            <div id="inputmonthdiv">
                                                <label>Select Month</label><br />
                                                <input class="form-control" type="text" id="inputmonth" style="width:200px;" placeholder="select month" />
                                            </div>
                                            <div id="inputweekdiv" hidden="hidden">
                                                <label>Select Week</label><br />
                                                <input class="form-control" type="text" id="inputweek" style="width:200px;" placeholder="select week" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <input type="button" id="generateReport" value="Generate" style="font-weight:bold; font-size:16px; width:200px; height:40px; background-color:#3399ff; color:white;" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h4><span id="report">Attendance Report</span></h4>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average Hrs</div>
                                            <div id="averageHours" class="panel-body">5<span>Hrs</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average TimeIn</div>
                                            <div id="averageTimeIn" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average TimeOut</div>
                                            <div id="averageTimeOut" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Present Days</div>
                                            <div id="presentDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Absent Days</div>
                                            <div id="absentDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Total Days</div>
                                            <div id="totalDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="example" class="table table-responsive table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time In</th>
                                            <th>Time Out</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>                          
                                </table>
                            </div>

                        </div>
                    </div>
                    <div style="height:40px"></div>
                </div>
            </div>
        </div>
    </div>
</body>

@*for datetimepicker*@
<script src="~/plugins/momentjs/moment.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/lib/bootstrap/dist/js/moment1.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker1.js"></script>

<script src="../../plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
@*for pdf*@
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        var id = null;
        $('select[id="selectEmployee"]').find('option[value='+1+']').attr("selected", true);
        var totalDays = 0;
        var currentDate = new Date();
        var m = ((currentDate.getMonth() + 1) >= 10) ? (currentDate.getMonth() + 1) : '0' + (currentDate.getMonth() + 1);
        var y = new Date().getFullYear();
        $('#inputmonth').datetimepicker({
            format: "MM/YYYY"
        });
        $('#inputmonth').val(m + '/' + y);
        generateReport(m + '/' + y, 'month',id);

        $('#select').on('change', function () {
            var v = $('#select').val();
            if (v == 'year') {
                $('#inputyear').val(y);
                $('#inputyeardiv').show();
                $('#inputmonthdiv').hide();
                $('#inputweekdiv').hide();
                $('#inputyear').datetimepicker({
                    format: "YYYY"
                });
            }
            else if (v == 'month') {
                $('#inputmonthdiv').show();
                $('#inputyeardiv').hide();
                $('#inputweekdiv').hide();
                $('#inputmonth').datetimepicker({
                    format: "MM/YYYY"
                });
            }
            else if (v == 'week') {
                $("#inputweek").val("30/12/2018-05/01/2019");
                $('#inputmonthdiv').hide();
                $('#inputyeardiv').hide();
                $('#inputweekdiv').show();
                $("#inputweek").datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            }
        });
        $('#inputweek').on('dp.change', function (e) {
            var value = $("#inputweek").val();
            var firstDate = moment(value, "DD/MM/YYYY").day(0).format("DD/MM/YYYY");
            var lastDate = moment(value, "DD/MM/YYYY").day(6).format("DD/MM/YYYY");
            $("#inputweek").val(firstDate + " - " + lastDate);
        });
        $('#generateReport').on('click', function () {
            var id = $('#selectEmployee').val();
            var v = $('#select').val();
            if (v == 'year') {
                var value = $("#inputyear").val();
                $("#inputyear").val(value);
                if (value % 4 == 0) {
                    totalDays = 366;
                }
                else {
                    totalDays = 365;
                }
                generateReport(value, 'year',id);
            }

            else if (v == 'month') {
                var value = $("#inputmonth").val();
                $("#inputmonth").val(value);
                var monthYear = value.split('/');
                var y = monthYear[1];
                var m = monthYear[0];
                totalDays = new Date(y, m, 0).getDate()
                generateReport(value, 'month',id);
            }
            else if (v == 'week') {
                var value = $("#inputweek").val();
                var firstDate = moment(value, "DD/MM/YYYY").day(0).format("DD/MM/YYYY");
                var lastDate = moment(value, "DD/MM/YYYY").day(6).format("DD/MM/YYYY");
                $("#inputweek").val(firstDate + " - " + lastDate);
                generateReport(firstDate + " - " + lastDate, 'week',id);
                totalDays = 7;
            }
        });

        function generateReport(value, type,id) {
            $.ajax({
                type: 'POST',
                url: "/Attendance/AttendanceSummaryById",
                data: { "date": value, "type": type ,"id":id},
                success: function (data) {
                    document.getElementById("averageHours").innerHTML = data.AverageTime;
                    document.getElementById("averageTimeIn").innerHTML = data.TimeIn;
                    document.getElementById("averageTimeOut").innerHTML = data.TimeOut;
                document.getElementById("presentDays").innerHTML = data.PresentDays;
                    document.getElementById("absentDays").innerHTML = data.AbsentDays;
                    document.getElementById("totalDays").innerHTML = data.TotalDays;
                }
            });

            var dTable = $('#example').DataTable({
                destroy: true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        title: 'Employee Report',
                        text: 'Export',
                        titleAttr: 'Export to Pdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }
                ],
                'columnDefs': [
                    {
                        'searchable': false,
                        'targets': [0, 1, 2]
                    }
                ],

                "aoColumnDefs": [
                    { "aTargets": [0], "bSortable": true },
                    { "aTargets": ['_all'], "bSortable": false }
                ],
                sDom: '<"myexport"B>ifrtlp',
                lengthMenu: [
                    [10, 25, -1],
                    ['10', '25', 'All']
                ],
                ajax: {
                    "url": "/Attendance/EmployeeReportsById",
                    "type": "POST",
                    "datatype": "json",
                    "data": { "date": value, "type": type ,"id": id},
                },
                "columns": [
                    {
                        "data": "DateIn", "name": "DateIn", "autoWidth": true, render: function (data, type, row) {
                            data = moment(data).format('DD MMM YYYY');
                            return data;
                        }
                    },
                    {
                        "data": "TimeIn", "autoWidth": true, render: function (data, type, row) {
                            if (row.TimeIn == row.TimeOut) { return "-"; }
                            data = moment(data, "HH:mm:ss").format("hh:mm A");
                            return data;
                        }
                    },
                    {
                        "data": "TimeOut", "autoWidth": true, render: function (data, type, row) {
                            if (row.TimeIn == row.TimeOut) { return "-"; }
                            data = moment(data, "HH:mm:ss").format("hh:mm A");
                            return data;
                        }
                    },
                    {
                        data: "IsActive", "autoWidth": true, render: function (data, type, row) {
                            if (data == true) {
                                return '<span style="font-size:12px;" class="label label-success">Present</span>';
                            } else {
                                var dateIn = moment(row.DateIn).format('L');
                                var date = moment(new Date()).format('L') ;
                                if (dateIn < date) {
                                    return '<span style="font-size:12px;" class="label label-danger">Absent</span>';
                                } else {
                                    return '-';
                                }
                            }
                        }
                    }
                ],
                "initComplete": function () {
                    var $searchInput = $('div.dataTables_filter input');
                    $searchInput.unbind();
                    $searchInput.bind('keyup', function (e) {
                        if (this.value.length >= 3 || this.value.length == 0) {
                            dTable.search(this.value).draw();
                        }
                    });
                }
            });
        }
    });
</script>


