@model IEnumerable<EIS.Entities.Employee.Attendance>

<style type="text/css">
    td {
        width: 200px;
        text-align: center
    }

    th {
        font-size: medium;
        text-align: center
    }

    div .panel-primary {
        text-align: center
    }

    .dataTables_wrapper .myexport .dt-buttons {
        float: right;
    }

    .bootstrap-datetimepicker-widget tr:hover {
        background-color: #808080;
    }

    #generateReport {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    #select {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    #inputyear, #inputmonth, #inputweek {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }

        .ajax-loader img {
            position: relative;
            top: 70%;
            left: 40%;
        }
</style>
<head>
    <title>Attendance History</title>
    <link href="~/Ems/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    @*for pdf*@
    <link href="~/Ems/css/buttons.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div class="ajax-loader">
        <img src="~/gif/Spinner.gif" />
    </div>
    <div class="container-fluid">
        <div class="block-header">
            <HeaderWithButton header-name="My Attendance History"></HeaderWithButton>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div>
                            <div class="row col-md-12">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <label>Select Type Of Reports</label>
                                            <select class="form-control" id="select" style="width:200px">
                                                <option value="year" id="year">Year</option>
                                                <option value="month" selected id="month">Month</option>
                                                <option value="week" id="week">Week</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div id="inputyeardiv" hidden="hidden">
                                                <label>Select Year</label><br />
                                                <input class="form-control" type="text" id="inputyear" placeholder="select year" style="width:200px" />
                                            </div>
                                            <div id="inputmonthdiv">
                                                <label>Select Month</label><br />
                                                <input class="form-control" type="text" id="inputmonth" placeholder="select month" style="width:200px" />
                                            </div>
                                            <div id="inputweekdiv" hidden="hidden">
                                                <label>Select Week</label><br />
                                                <input class="form-control" type="text" id="inputweek" placeholder="select week" style="width:200px" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <br />
                                            <input class="form-control" type="button" id="generateReport" value="Generate" style="font-weight:bold; font-size:16px; width:200px; height:40px; background-color:#3399ff; color:white;" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h4><span id="report">Attendance Report</span></h4>
                            </div>
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-3 col-sm-2">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average TimeIn</div>
                                            <div id="averageTimeIn" class="panel-body"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average TimeOut</div>
                                            <div id="averageTimeOut" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-2">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average Hrs</div>
                                            <div id="averageHours" class="panel-body"><span></span></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Additional Working Hours</div>
                                            <div id="addtionalWorkingHours" class="panel-body"></div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Present Days</div>
                                            <div id="presentDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Leave Days</div>
                                            <div id="absentDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Total Working Days</div>
                                            <div id="totalWorkingDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Total Number Of Days</div>
                                            <div id="totalNoOfDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Time In</th>
                                            <th>Time Out</th>
                                            <th>Total Hours</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


@*for datetimepicker*@
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/moment.min.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/lib/bootstrap/dist/js/moment1.js"></script>
<script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/Ems/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootbox.js"></script>



<script type="text/javascript">

    $(document).ready(function () {

        var totalDays = 0;
        var currentDate = new Date();
        var m = ((currentDate.getMonth() + 1) >= 10) ? (currentDate.getMonth() + 1) : '0' + (currentDate.getMonth() + 1);
        var y = new Date().getFullYear();
        $('#inputmonth').datetimepicker({
            format: "MM/YYYY"
        });
        $('#inputmonth').val(m + '/' + y);
        generateReport(m + '/' + y, 'month');

        $('#select').on('change', function () {
            var v = $('#select').val();
            if (v == 'year') {
                $('#inputyear').val(y);
                $('#inputyeardiv').show();
                $('#inputmonthdiv').hide();
                $('#inputweekdiv').hide();
                $('#inputyear').datetimepicker({
                    format: "YYYY"
                });
            }
            else if (v == 'month') {
                $('#inputmonthdiv').show();
                $('#inputyeardiv').hide();
                $('#inputweekdiv').hide();
                $('#inputmonth').datetimepicker({
                    format: "MM/YYYY"
                });
            }
            else if (v == 'week') {
                var fd = getSunday(new Date());
                var ld = new Date();
                ld.setDate(fd.getDate() + 6);
                var firstDate = moment(fd, "MMM/DD/YYYY").day(0).format("MMM/DD/YYYY");
                var lastDate = moment(ld, "MMM/DD/YYYY").day(6).format("MMM/DD/YYYY");
                var weekstring = firstDate + '-' + lastDate;
                $("#inputweek").val(weekstring);
                $('#inputmonthdiv').hide();
                $('#inputyeardiv').hide();
                $('#inputweekdiv').show();
                $("#inputweek").datetimepicker({
                    format: "MMM/DD/YYYY"
                });
            }
        });
        function getSunday(d) {
            d = new Date(d);
            var day = d.getDay(),
                diff = d.getDate() - day /*+ (day == 0 ? -6 : 1)*/; // adjust when day is sunday
            return new Date(d.setDate(diff));
        }
        $('#inputweek').on('dp.change', function (e) {
            var value = $("#inputweek").val();
            var firstDate = moment(value, "MMM/DD/YYYY").day(0).format("MMM/DD/YYYY");
            var lastDate = moment(value, "MMM/DD/YYYY").day(6).format("MMM/DD/YYYY");
            $("#inputweek").val(firstDate + " - " + lastDate);
        });
        $('#generateReport').on('click', function () {
            var v = $('#select').val();
            if (v == 'year') {
                var value = $("#inputyear").val();
                $("#inputyear").val(value);
                if (value % 4 == 0) {
                    totalDays = 366;
                }
                else {
                    totalDays = 365;
                }
                generateReport(value, 'year');
            }

            else if (v == 'month') {
                var value = $("#inputmonth").val();
                $("#inputmonth").val(value);
                var monthYear = value.split('/');
                var y = monthYear[1];
                var m = monthYear[0];
                totalDays = new Date(y, m, 0).getDate()
                generateReport(value, 'month');
            }
            else if (v == 'week') {
                var value = $("#inputweek").val();
                var firstDate = moment(value, "MMM/DD/YYYY").day(0).format("MMM/DD/YYYY");
                var lastDate = moment(value, "MMM/DD/YYYY").day(6).format("MMM/DD/YYYY");
                $("#inputweek").val(firstDate + " - " + lastDate);
                generateReport(firstDate + " - " + lastDate, 'week');
                totalDays = 7;
            }
        });

        function generateReport(value, type) {
            $.ajax({
                type: 'POST',
                //url: "/Attendance/GetAttendanceSummary",
                url: '@Url.Action("GetAttendanceSummary", "Attendance")?date=' + value + '&type=' + type,
                //data: { "date": value, "type": type },
                success: function (data) {
                    document.getElementById("averageHours").innerHTML = data.AverageHours;
                    document.getElementById("averageTimeIn").innerHTML = data.AverageTimeIn;
                    document.getElementById("averageTimeOut").innerHTML = data.AverageTimeOut;
                    document.getElementById("presentDays").innerHTML = data.PresentDays;
                    document.getElementById("absentDays").innerHTML = data.LeaveDays;
                    document.getElementById("totalWorkingDays").innerHTML = data.TotalWorkingDays;
                    document.getElementById("totalNoOfDays").innerHTML = data.TotalDays;
                    document.getElementById("addtionalWorkingHours").innerHTML = data.AdditionalWorkingHours;
                },
       error: function (error) {
                    bootbox.alert('<h4>Error</h4>');
                }
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("EmployeeReports","Attendance")?date=' + value + '&type=' + type,
                datatype: 'JSON',
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                success: function (data) {
                    var array = [];
                    for (var i = 0; i < data.length; i++)
                    {
                        var Status = data[i].Status;
                        if (Status == "Present") {
                            Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
                        } else {
                            Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                        }   
                        array.push([data[i].Date,Status,data[i].TimeIn,data[i].TimeOut,data[i].TotalHours])
                    }
                    $('#example').DataTable().destroy();
                    $('#example').DataTable({
                        data: array
                    });
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                }
            });       
        }
    });
    function calculate(date) {
        var d = new Date(date);
        var mon = d.toLocaleString('en-us', { month: 'long' });
        var yea = d.getFullYear();
        var dat = 1;
        myDays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
        myDate = new Date(eval('"' + dat + ',' + mon + ',' + yea + '"'))
        var first = myDays[myDate.getDay()];
        //alert(first);
        var secnd;
        var forth;
        switch (first) {
            case "Sunday":
                secnd = yea + '-' + mon + '-' + 14;
                forth = yea + '-' + mon + '-' + 28;
                break;
            case "Monday":
                secnd = yea + '-' + mon + '-' + 13;
                forth = yea + '-' + mon + '-' + 27;
                break;
            case "Tuesday":
                secnd = yea + '-' + mon + '-' + 12;
                forth = yea + '-' + mon + '-' + 26;
                break;
            case "Wednesday":
                secnd = yea + '-' + mon + '-' + 11;
                forth = yea + '-' + mon + '-' + 25;
                break;
            case "Thursday":
                secnd = yea + '-' + mon + '-' + 10;
                forth = yea + '-' + mon + '-' + 24;
                break;
            case "Friday":
                secnd = yea + '-' + mon + '-' + 9;
                forth = yea + '-' + mon + '-' + 23;
                break;
            case "Saturday":
                secnd = yea + '-' + mon + '-' + 8;
                forth = yea + '-' + mon + '-' + 22;
                break;
            default: break;
        }
        if (d.getDate() == new Date(secnd).getDate()) {
            return "2nd Saturday";
        }
        else if (d.getDate() == new Date(forth).getDate()) {
            return "4th Saturday";
        }
        else {
            return "NotFound";
        }
    }
</script>
