@model IEnumerable<EIS.Entities.Employee.Person>
@{
    int presentDays = 0;
    int absentDays = 0;
    int totalDays = 0;
    int year = 0;
    int month = 0;
    if(ViewBag.year!=null)
    {
        year = ViewBag.year;
    }
    if(ViewBag.month!=null)
    {
        month = ViewBag.month;
    }

    if (ViewBag.type == "year")
    {
        if (year % 4 == 0)
        {
            totalDays = 366;
        }
        else
        {
            totalDays = 365;
        }
    }
    else if (ViewBag.type == "month")
    {
        totalDays = DateTime.DaysInMonth(year,month);
    }
    else if (ViewBag.type == "week")
    {       
        totalDays = 7;
    }

}

<style type="text/css">
    td{
        width:200px;
        text-align:center
    }
    th{
        font-size:medium;
        text-align:center
    }
</style>
@*<div><h4><b>Attendance Report</b></h4></div>*@

<div class="table-responsive">
    <table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Present Days</th>
                <th>Absent Days</th>
                <th>Total Days</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var person in Model)
            {
            <tr>
                <td>@person.FirstName</td>

                @{ 
                    presentDays = person.Attendance.Count();
                    absentDays = totalDays - presentDays;
                }
                <td>@presentDays</td>
                <td>@absentDays</td>
                <td>@totalDays</td>
            </tr>
            }
        </tbody>
    </table>
</div>



