@model EIS.Entities.User.Users
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ForgotPassword</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Spin Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Stylesheets -->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link href="~/SweetAlert/sweetalert.min.css" rel="stylesheet" />
        <link href="~/SweetAlert/sweetalert.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/style1.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!--// Stylesheets -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//fonts-->
    <!--Script for alert message-->
</head>
<body style="background: url(../images/bg-img.jpg)no-repeat center;">
    <h1>Aadyam </h1>
    @*<div class="clear-loading spinner">
            <span></span>
        </div>*@
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        <form asp-action="ForgotPassword">
            @*<label> Create new password </label>*@
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Username </label>
                <input asp-for="UserName" placeholder="Enter User Name" required="" />
            </div>
            <!-- script for show password -->
            <script>
                function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>

            <!-- //end script -->

            <input type="submit" value="Reset Password">

        </form>
    </div>
    <!-- //form ends here -->
    <!--copyright-->
    <div class="copy-wthree">
        @*<p>
                © 2018 Spin Login Form . All Rights Reserved | Design by
                <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
            </p>*@
    </div>
    <!--//copyright-->

</body>
</html>
<div></div>@Html.Raw(TempData["Msg"])


