@model EIS.Entities.User.Users
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>

<head>

    <title>Aadyam-Login</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Spin Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Stylesheets -->

    <link href="~/css/style1.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!--// Stylesheets -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//fonts-->
</head>

<body style="background: url(../images/bg-img.jpg)no-repeat center;">
    <h1>Aadyam </h1>
    @*<div class="clear-loading spinner">
            <span></span>
        </div>*@
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        <form asp-action="Login" method="post">
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Username </label>
                <input asp-for="UserName" type="text" placeholder="Enter User Name" required="" />
            </div>
            <div class="agile-field-txt">
                <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> password </label>
                <input asp-for="Password" type="password" placeholder="Enter Password" required="" id="myInput" />
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Show password</label>
                </div>
                <div class="agile-right">
                    <a asp-action="ForgotPassword" asp-controller="Login">Forgot Password?</a>
                </div>
            </div>
            <!-- script for show password -->
            <script>
                function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <!-- //end script -->
            <input type="submit" value="LOGIN">
        </form>
    </div>
    <!-- //form ends here -->
    <!--copyright-->
    <div class="copy-wthree">
        <p>
            © 2018 - Employee Information System
            @*<a href="http://w3layouts.com/" target="_blank">W3layouts</a>*@
        </p>
    </div>
    <!--//copyright-->
</body>
</html>


