@using EIS.Entities.Leave
@model LeaveRules
<!-- Modal -->
<style type="text/css">
    .form-group.required .control-label:after {
        color: #d00;
        content: "*";
        position: relative;
    }

    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }
   
        .ajax-loader img {
            position: relative;
            top: 40%;
            left: 40%;
        }
   
    * {
        font-family: Arial;
        font-style: normal
    }
</style>
<link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
<div id="md" class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <HeaderWithButton class="modal-title" header-name="Add Policy"></HeaderWithButton>
        </div>
        <div class="modal-body">
            <div class="ajax-loader">
                <img src="~/gif/Spinner.gif" />
            </div>
            <form name="cp" id="cp" asp-action="AddPolicy" asp-controller="Leave" method="post">

                <input type="hidden" asp-for="Id" value="0" />
                <div class="form-group required">
                    <label class="control-label" asp-for="LeaveType">Leave Type</label>
                    <div class="form-line">
                        <input asp-for="LeaveType" class="form-control" />
                    </div>
                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Credited to : </label>
                    <select title="Select Employee" id="emps" data-size="5" name="emps" asp-items="@(new SelectList(@ViewBag.Persons,"Id","FirstName"))" class="selectpicker form-control show-tick" data-live-search="true" multiple></select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label" asp-for="Description"></label>
                    <div class="form-line">
                        <input asp-for="Description" class="form-control" />
                    </div>

                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Validity"></label>
                    <div class="form-line">
                        <input asp-for="Validity" maxlength="2" class="form-control" />
                    </div>

                    <span asp-validation-for="Validity" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Valid From</label>
                    <div class="form-line">
                        <input class="form-control" type="text" asp-for="ValidFrom" value="" id="validFrom" placeholder="Select Date" autocomplete="off" />
                    </div>
                    <span asp-validation-for="ValidFrom" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Valid To</label>
                    <div class="form-line">
                        <input class="form-control" type="text" asp-for="ValidTo" value="" id="validTo" placeholder="Select Date" autocomplete="off" />
                    </div>
                    <span asp-validation-for="ValidTo" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button id="btnSubmit" name="btnSubmit" type="button" class="btn btn-link waves-effect">Create Policy</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/pages/ui/modals.js"></script>

<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#emps').selectpicker();
    var d = new Date();
    d.setDate(d.getDate());
    var defaultDate = moment().toDate();
    $('#validFrom').datetimepicker({
        format: "DD/MMM/YYYY",
        defaultDate: d
    });
    $('#validTo').datetimepicker({
        format: "DD/MMM/YYYY",
        defaultDate: d
    });
    $('#btnSubmit').click(function () {
        var form = $("#cp");
        $.validator.unobtrusive.parse(form);
        if (form.valid()) {
            bootbox.confirm({
                message: "Are you sure to add new Leave Policy?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        var d = form.serialize();
                        $.ajax({
                            /**/
                            url: '@Url.Action("AddPolicy", "Leave")',
                            /**/
                            type: 'POST',
                            data: d,
                            beforeSend: function () {
                                $('.ajax-loader').css("visibility", "visible");
                            },
                            success: function (data) {
                                bootbox.alert({
                                    message: "Policy Added Successfully!",
                                    callback: function () {
                                        window.parent.location.reload();
                                    }
                                });
                            },
                            error: function (data) {
                                $("#md").replaceWith(data.responseText);
                            },
                            complete: function () {
                                $('.ajax-loader').css("visibility", "hidden");
                            }
                        });
                    }
                }
            });
        }
        return false;
    });
</script>