@using EIS.WebApp.Services
@using EIS.Entities.Leave
@using System.Globalization;
@model LeaveCredit
<!-- Modal -->
<style type="text/css">
    .form-group.required .control-label:after {
        color: #d00;
        content: "*";
        position: relative;
    }

    * {
        font-family: Arial;
        font-style: normal
    }
</style>
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <HeaderWithButton class="modal-title" header-name="Edit Leave Credit"></HeaderWithButton>
        </div>
        <div class="modal-body">
            <form name="cp" id="cp" asp-action="EditCredit" asp-controller="Leave" method="post">
                <input type="hidden" asp-for="RowVersion">
                <input type="hidden" asp-for="Available" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="hidden" asp-for="LeaveId" />
                <input type="hidden" asp-for="LeaveType" />
                <input type="hidden" asp-for="PersonId" />
                <input type="hidden" asp-for="Id" />

                <div class="form-group required">
                    <label class="control-label" asp-for="LeaveType">Leave Type</label>
                    <div class="form-line">
                        <input asp-for="LeaveType" class="form-control" disabled />
                    </div>
                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Days to be alloted</label>
                    <div class="form-line">
                        <input asp-for="AllotedDays" maxlength="2" class="form-control" />
                    </div>
                    <span asp-validation-for="AllotedDays" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Valid From</label>
                    <div class="form-line">
                        <input class="form-control" type="text" asp-for="ValidFrom" id="validFrom" placeholder="select Date" autocomplete="off" />
                    </div>
                    <span asp-validation-for="ValidFrom" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Valid To</label>
                    <div class="form-line">
                        <input class="form-control" type="text" asp-for="ValidTo" id="validTo" placeholder="select Date" autocomplete="off" />
                    </div>
                    <span asp-validation-for="ValidTo" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button id="btnSubmit" name="btnSubmit" type="button" class="btn btn-link waves-effect">Save</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/pages/ui/modals.js"></script>

<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
  
    $(document).ready(function () {
        var d1 = document.getElementById("validFrom").value;
        var d2 = document.getElementById("validTo").value;
        var cultureInfo = '@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper()';
        var fd = moment(d1, cultureInfo).format("DD/MMM/YYYY");
        var ld = moment(d2, cultureInfo).format("DD/MMM/YYYY");
        if (fd == "Invalid date") {
            $("#validFrom").val(d1);
        } else {
            $("#validFrom").val(fd);
        }

        if (ld == "Invalid date") {
            $("#validTo").val(d2);
        } else {
            $("#validTo").val(ld);
        }
    })


    $('#btnSubmit').click(function () {
        var t = $("#type option:selected").text();
        $("#tp").val(t);
        var form = $("#cp");
        $.validator.unobtrusive.parse(form);
        if (form.valid()) {
            bootbox.confirm({
                message: "Are you sure to Edit Leave Creadit?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        var d = form.serialize();
                        $.ajax({
                            url: '@Url.Action("EditCredit", "Leave")',
                            type: 'POST',
                            data: d,
                            success: function (data) {
                                bootbox.alert({
                                    message: "Leave Credit updated Successfully!",
                                    callback: function () {
                                        window.parent.location.reload();
                                    }
                                });
                            },
                            error: function (data) {
                                bootbox.alert({
                                    message: 'Error',
                                    callback: function () {
                                        window.parent.location.reload();
                                    }
                                });

                            }
                        });
                    }
                }
            });
        }
        return false;
    });
</script>