@model IEnumerable<EIS.Entities.Leave.LeaveCredit>
<html>
<head>
    <title>Leave Credits</title>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div id="modal-placeholder" class="modal fade" role="dialog" data-url="@Url.Action("AddCredit")"></div>
    @*BootStrap Model*@
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size:25px;">
                Leave Credits
                <button id="btnModal" name="btnModal" type="button" class="btn btn-primary">
                    Add New
                </button>
            </h2>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        Employee Name
                                    </th>

                                    <th>
                                        Leave Type
                                    </th>
                                    <th>
                                        Valid From
                                    </th>
                                    <th>
                                        Valid To
                                    </th>
                                    <th>
                                        Days
                                    </th>
                                    <th>
                                        Available
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<script>
    $(document).ready(function () {
        var dTable = $('#example').DataTable({
            destroy: true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            buttons: [
                {
                    extend: 'pdfHtml5',
                    title: 'Employee Report',
                    text: 'Export',
                    titleAttr: 'Export to Pdf',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }
            ],
            'columnDefs': [
                {
                    'searchable': false,
                    'targets': [0, 1, 2]
                }
            ],
            "aoColumnDefs": [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": ['_all'], "bSortable": false }
            ],
            sDom: '<"myexport"B>ifrtlp',
            lengthMenu: [
                [5, 10, 25, -1],
                ['5', '10', '25', 'All']
            ],
            ajax: {
                "url": "/Leave/LeaveCredits",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": null, "autoWidth": true, render: function (row) {
                        return row.Person.FirstName;
                    }
                },
                {
                    "data": "LeaveType", "autoWidth": true, render: function (data) {
                        return data;
                    }
                },
                {
                    "data": "ValidFrom", "autoWidth": true, render: function (data) {
                        data = moment(data).format('DD MMM YYYY');
                        return data;
                    }
                },
                {
                    "data": "ValidTo", "autoWidth": true, render: function (data) {
                        data = moment(data).format('DD MMM YYYY');
                        return data;
                    }
                },
                {
                    "data": "AllotedDays", "autoWidth": true, render: function (data) {
                        return data;
                    }
                },
                {
                    "data": "Available", "autoWidth": true, render: function (data) {
                        return data;
                    }
                },
                {
                    data: null, "autoWidth": true, render: function (data, type, row) {
                        return '<div class="dropdown"> <button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu pull-right"><li><a class="inactive" href="/People/Delete?id=' + row.Id + '">Delete</a></li></ul></div>';
                    }
                }
            ],
            //"aoColumns": [
            //    {"sType": "date" },
            //    null,
            //    null,
            //    null
            //],
            "initComplete": function () {
                var $searchInput = $('div.dataTables_filter input');
                $searchInput.unbind();
                $searchInput.bind('keyup', function (e) {
                    if (this.value.length >= 3 || this.value.length == 0) {
                        dTable.search(this.value).draw();
                    }
                });
            }
        });
        $("#btnModal").click(function () {
            var url = $("#modal-placeholder").data('url');
            $.get(url, function (data) {
                $("#modal-placeholder").html(data);
                $("#modal-placeholder").modal('show');
            });
        });
    });
</script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>





