@using EIS.Entities.Employee;
@using EIS.WebApp.Services
@model EIS.Entities.Dashboard.AdminDashboard
@{
    string rootPath = MyHttpContext.AppBaseUrl;
}
<style>
    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }

        .ajax-loader img {
            position: relative;
            top: 40%;
            left: 40%;
            /*width: 25%;
            height: 25%;
            opacity: 0.9;
            filter: alpha(opacity=50);*/
        }
</style>
<head>
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<div class="ajax-loader">
    <img src="~/gif/Spinner.gif" />
</div>
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-md-12">
                <HeaderWithButton header-name="DASHBOARD" btn-href="location.href='@rootPath/Dashboard/AdminCalendar'" btn-text="Calendar" icon-name="assignment"></HeaderWithButton>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <a role="button" id="allEmployee">
                    <div class="icon">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">TOTAL EMPLOYEES</div>
                    <div id="totalEmployeeCount" class="number count-to"></div>
                </div>
            </div>


        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class=" info-box bg-light-green hover-expand-effect">
                <a role="button" id="employeePresent">
                    <div class="icon">
                        <i class="material-icons">assignment_ind</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">EMPLOYEE PRESENT</div>
                    <div id="employeePresentCount" class="number count-to"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

            <div class="info-box bg-cyan hover-expand-effect">
                <a role="button" id="employeeAbsent">
                    <div class="icon">
                        <i class="material-icons"> assignment_late</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">EMPLOYEE ON LEAVE</div>
                    <div id="employeeAbsentCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <a id="pendingLeaveButton" role="button">
                    <div class="icon">
                        <i class="material-icons">
                            account_circle
                        </i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">PENDING LEAVES</div>
                    <div id="employeeLeavesCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <!-- Attendance Data-->
        <div id="attendanceData">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>BANER</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos" id="BanerAttendanceTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>ClockIn</th>
                                        <th>ClockOut</th>
                                        <th>WorkingHours</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>KONDHWA</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos" id="KondhwaAttendanceTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>ClockIn</th>
                                        <th>ClockOut</th>
                                        <th>WorkingHours</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <!-- #END# Attendance Data -->
        <!-- Leave Data -->
        <div id="leavesData" hidden>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>BANER</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos" id="BanerLeavesTable">
                                <thead>
                                    <tr>
                                        <th>Employee Name</th>
                                        <th>Leave Type</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Days</th>
                                        <th>Requested Date</th>
                                        <th>Status</th>
                                        <th>Leave Reason</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>



                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>KONDHWA</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos" id="KondhwaLeavesTable">
                                <thead>
                                    <tr>
                                        <th>Employee Name</th>
                                        <th>Leave Type</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Days</th>
                                        <th>Requested Date</th>
                                        <th>Status</th>
                                        <th>Leave Reason</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>



                    </div>
                </div>



            </div>
        </div>
        <!-- #END# Leave Data -->
    </div>
</div>
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script>
    var buttonSelected = "All";
    $(document).ready(function () {
        selectOpt = $('#select option:selected').val();
        generateReport("All", 0);
    });
    $('#allEmployee').on('click', function () {
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "All";
        generateReport(buttonSelected, 0);
    });
    $('#employeePresent').on('click', function () {
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "Present";
        generateReport(buttonSelected, 0);

    });
    $('#employeeAbsent').on('click', function () {
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "Absent";
        generateReport(buttonSelected, 0);
    });

    $('#pendingLeaveButton').on('click', function () {
        $('#attendanceData').hide();
        $('#leavesData').show();
        buttonSelected = "Leaves";
        generateReport(buttonSelected, 0);
    });


    function generateReport(buttonSelected, location) {    
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AdminDashboard","Dashboard")',
            data: { "attendanceStatus": buttonSelected, "location": location },
            beforeSend: function () {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                if (data != null) {
                    document.getElementById("totalEmployeeCount").innerHTML = data.sP_AdminDashboardCount.AllEmployeesCount ;
                    document.getElementById("employeePresentCount").innerHTML = data.sP_AdminDashboardCount.PresentEmployees;
                    document.getElementById("employeeAbsentCount").innerHTML = data.sP_AdminDashboardCount.AbsentEmployees;
                    document.getElementById("employeeLeavesCount").innerHTML = data.sP_AdminDashboardCount.PendingLeavesCount;
                    if (buttonSelected == "Leaves") {
                        getLeavesData(data.sp_AdminDashboardLeaves);
                    } else {
                        getData(data.sP_AdminDashboards);
                    }
                }
            },
            complete: function () {
                $('.ajax-loader').css("visibility", "hidden");
            }
        });
    }

    function getData(Employees) {
        var banerAttendanceArray = [];
        var KondhwaAttendanceArray=[];
        for (var i = 0; i < Employees.length; i++) {
          
                var TimeIn = Employees[i].TimeIn == null ? '-' : Employees[i].TimeIn;
                var TimeOut = Employees[i].TimeOut == null ? '-' : Employees[i].TimeOut;
            var TotalHours = Employees[i].TotalHours == null ? '-' : Employees[i].TotalHours;
            if (Employees[i].LocationName == "Baner") {
                banerAttendanceArray.push([Employees[i].EmployeeName, Employees[i].Status, TimeIn, TimeOut, TotalHours])
            } else
            {
                KondhwaAttendanceArray.push([Employees[i].EmployeeName, Employees[i].Status, TimeIn, TimeOut, TotalHours])
            }                
        }
        $('#BanerAttendanceTable').DataTable().destroy();
        $('#BanerAttendanceTable').DataTable({
            data: banerAttendanceArray,
            "order":[2,"desc"]
        });
        $('#KondhwaAttendanceTable').DataTable().destroy();
        $('#KondhwaAttendanceTable').DataTable({
            data: KondhwaAttendanceArray,
            "order":[2,"desc"]
        });
    }

    function getLeavesData(Leaves) {
        var banerArrayLeaves = [];
        var kondhwaArrayLeaves = [];
        for (var i = 0; i < Leaves.length; i++) {
            var dateFrom = moment(Leaves[i].FromDate).format("DD MMM YYYY");
            var appliedDate = moment(Leaves[i].AppliedDate).format("DD MMM YYYY")
            if (Leaves[i].LocationName == "Baner") {
                banerArrayLeaves.push([Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, moment(Leaves[i].ToDate).format("DD MMM YYYY"), Leaves[i].RequestedDays, appliedDate, Leaves[i].Status, Leaves[i].Reason])
            }else
                kondhwaArrayLeaves.push([Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, moment(Leaves[i].ToDate).format("DD MMM YYYY"), Leaves[i].RequestedDays, appliedDate, Leaves[i].Status, Leaves[i].Reason])
            }

        $('#BanerLeavesTable').DataTable().destroy();
        $('#BanerLeavesTable').DataTable({
            data: banerArrayLeaves,
            "order": [6, "desc"]
        });

        $('#KondhwaLeavesTable').DataTable().destroy();
        $('#KondhwaLeavesTable').DataTable({
            data: kondhwaArrayLeaves,
            "order":[6,"desc"]
        });
    }

</script>
