@using EIS.WebApp.Services
@{
    string rootPath = MyHttpContext.AppBaseUrl;
}
<head>

    <link href="~/Ems/css/fullcalendar.min.css" rel="stylesheet" />
    <!-- qTip -->
    <link href="~/Ems/css/jquery.qtip.min.css" rel="stylesheet" />
    <style>
        .fc-other-month .fc-day-number {
            display: none;
        }
    </style>
</head>
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-md-12">
                <HeaderWithButton header-name="Calendar"></HeaderWithButton>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
      
    </div>
 </div>
<script src="~/Ems/js/fullcalendar-3.1.0-lib-moment.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/Ems/js/fullcalendar-3.1.0-lib-jquery-ui.min.js"></script>
<script src="~/Ems/js/fullcalendar-3.1.0-fullcalendar.min.js"></script>
<script src="~/Ems/js/maxcdn.bootstrapcdn.com-bootstrap-3.4.0-js-bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootbox.js"></script>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            contentHeight: 700,
            defaultDate: new Date(),
            defaultView: 'month',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay,agenda'
            },
            viewRender: function (view, element) {

                intervalStart = view.intervalStart;
                intervalEnd = view.intervalEnd;
            }      
         
        });
    });      
</script>

