@using EIS.WebApp.Services
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http;
@model EIS.Entities.Dashboard.EmployeeDashboard
@{
    string APIURL = MyHttpContext.APIBaseURL;
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookiesdata != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<head>
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <style>
        .info-box {
            cursor: pointer;
        }

        a:hover, a:focus {
            text-decoration: none;
        }
        * {
            font-family: Arial;
            font-style: normal
        }
    </style>
</head>
<div class="container-fluid">

    <div class="block-header">
        <div class="row">
            <div class="col-md-12">
                <HeaderWithButton header-name="DASHBOARD" btn-href="location.href='@MyHttpContext.AppBaseUrl/Dashboard/EmployeeCalendar'" btn-text="Calendar" icon-name="assignment"></HeaderWithButton>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a role="button" id="presentButton">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">contacts </i>
                    </div>
                    <div class="content">
                        <div class="text">Present Days</div>
                        <div class="number count-to" id="PresentDays"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a role="button" id="leaveButton">
                <div class=" info-box bg-light-green hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">assignment_ind</i>
                    </div>
                    <div class="content">
                        <div class="text">Leaves Availed</div>
                        <div class="number count-to" id="AbsentDays"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a role="button" id="totalLeaveButton">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">assignment_late</i>
                    </div>
                    <div class="content">
                        <div class="text">Total Leaves Approved</div>
                        <div class="number count-to" id="TotalLeavesTaken"></div>
                    </div>
                </div>
            </a>  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">account_circle</i>
                </div>
                <div class="content">
                    <div class="text">Available Leaves</div>
                    <div class="number count-to" id="AvailableLeaves"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <h2 id="tableName"></h2>
                    <div class="align-right">
                        @DateTime.Now.ToString("MMM/yyyy")
                    </div>
                </div>
                
                <div class="body" id="attendanceCard">
        
                        <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="attendanceTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Clock In</th>
                                    <th>Clock Out</th>
                                    <th>Working Hours</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="LeaveTable" hidden style="width:100%">
                            <thead>
                                <tr>
                                    <th>Leave Type</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Days</th>
                                    <th>Status</th>
                                    <th>ApprovedBy</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
        
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script>
    var buttonSelected = "All";
    var selectOpt;

    $(document).ready(function () {

        $('#tableName').html('Monthly Attendance');
        generateReport(buttonSelected);
    });
    $('#presentButton').click(function () {
        buttonSelected = "Present";
        $('#tableName').html('Monthly Present Attendance');
        generateReport(buttonSelected);
    });
    $("#leaveButton").click(function () {
        buttonSelected = "Leave";
        $('#tableName').html('Monthly Leave Attendance');
        generateReport(buttonSelected);
    });
    $('#totalLeaveButton').click(function () {
        buttonSelected = "totalLeave";
        $('#tableName').html('Total Leaves Availed');
        generateReport(buttonSelected);
    });

    function generateReport(buttonSelected) {
        var pid=@cookies.PersonId;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EmployeeDashboard","Dashboard")',
            data: { "PersonId": pid },
            success: function (data) {
                if (data != null) {
                    document.getElementById("PresentDays").innerHTML = data.SP_EmployeeDashboardCount.PresentDays ;
                    document.getElementById("AbsentDays").innerHTML = data.SP_EmployeeDashboardCount.OnLeaveDays;
                    document.getElementById("TotalLeavesTaken").innerHTML = data.SP_EmployeeDashboardCount.TotalLeavesTaken;
                    document.getElementById("AvailableLeaves").innerHTML = data.SP_EmployeeDashboardCount.AvailableLeaves;
                    if (buttonSelected == "totalLeave") {
                        $('#attendanceTable').hide();
                        $('#LeaveTable').show();
                        getData(data.SP_EmployeeLeaveRequest, buttonSelected);

                    } else {
                        $('#LeaveTable').hide();
                        $('#attendanceTable').show();
                        getData(data.SP_EmployeeDashboards, buttonSelected);
                    }

                }
            }
        });
    }
    function getData(Employees, buttonSelected) {
        debugger;
        var array=[];
        for (var i = 0; i < Employees.length; i++) {
            var approvedName = "-";
            if (buttonSelected == "totalLeave") {
                var fromDate = moment(Employees[i].FromDate).format("DD-MMM-YYYY");
                var toDate = moment(Employees[i].ToDate).format("DD-MMM-YYYY");
                var Status = Employees[i].Status;


                if (Status == "Pending") {
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                }
                else if (Status == "Approved" || Status.startsWith('Approved')) {
                    if (Employees[i].LeaveType.includes("Past")) {
                        approvedName = "Past Leave Auto Approved";
                    } else {
                        approvedName = Employees[i].ApprovedBy;
                    }

                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';

                }
                else if (Status == "Rejected"){
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + Status + '</span>';
                    approvedName =Employees[i].ApprovedBy;
                } else if (Status == "Cancelled") {
                    approvedName = "-";
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + Status + '</span>';
                }                                             
                else if (Status == "Requested For Cancel") {
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                }
                else {
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + Status + '</span>';
                }
                array.push([Employees[i].LeaveType, fromDate, toDate, Employees[i].RequestedDays, Status, approvedName])
            } else
            {
                var TimeIn = Employees[i].TimeIn == null ? '-' : moment(Employees[i].TimeIn, 'HH:mm:ss').format('hh:mm A');
                var TimeOut = Employees[i].TimeOut == null ? '-' : moment(Employees[i].TimeOut, 'HH:mm:ss').format('hh:mm A');
                var TotalHours = Employees[i].TotalHours == null ? '-' : Employees[i].TotalHours;
                var todayDate = moment(new Date()).format("DD-MMM-YYYY");
                var dateInData = moment(new Date(Employees[i].DateIn)).format("DD-MMM-YYYY");
                if (todayDate == dateInData) {
                    if (Employees[i].TimeIn != null && Employees[i].TimeOut == null) {
                        var expectedTimeOutDate = moment(Employees[i].TimeIn, 'HH:mm:ss').add(9, 'h').format('hh:mm A');
                        TimeOut = '<span style="font-size:14px; font-weight:normal;" class="label label-primary">Expected: ' + expectedTimeOutDate + '</span>';
                    }
                }
                var Status = Employees[i].Status;

                if (buttonSelected == "Leave") {
                    if (Status == "OnLeave") {
                        Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                        array.push([moment(Employees[i].DateIn).format("DD MMM YYYY"), Status, TimeIn, TimeOut, TotalHours])
                    }
                } else {
                    if (buttonSelected == "Present") {
                        if (Status == "Present") {
                            Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
                            array.push([moment(Employees[i].DateIn).format("DD MMM YYYY"), Status, TimeIn, TimeOut, TotalHours])
                        }
                    } else {
                        if (Status == "Present") {
                            Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
                        } else if (Status == "Absent") {
                            Status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + Status + '</span>';
                        } else {
                            Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                        } 

                        array.push([moment(Employees[i].DateIn).format("DD MMM YYYY"), Status, TimeIn, TimeOut, TotalHours])
                    }
                }
            }
        }
        $('#LeaveTable').DataTable().destroy();
        $('#attendanceTable').DataTable().destroy();
        if (buttonSelected == "totalLeave") {
            $('#LeaveTable').DataTable({
                scrollX:true,
                "order":[1,'desc'],
                data: array
            });
        } else {

            $('#attendanceTable').DataTable({
                scrollX:true,
                "columnDefs": [
                    { "width": "20%", "targets": 0 }
                ],
                "aoColumns": [
                    { "sType": "date" },
                    null,
                    null,
                    null,
                    null
                ],
                "order": [0, "desc"],
                data: array
            });
        }
    }
</script>