@using EIS.Entities.Employee;
@using EIS.WebApp.Services
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http;
@model EIS.Entities.Dashboard.AdminDashboard
@{
    string rootPath = MyHttpContext.AppBaseUrl;
    string APIURL = MyHttpContext.APIBaseURL;
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookiesdata != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<style>

    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }

        .ajax-loader img {
            position: relative;
            top: 45%;
            left: 45%;
        }

    a {
        cursor: pointer;
    }

    .disabledLink {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
</style>
<head>
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>
<div class="ajax-loader">
    <img src="~/gif/Spinner.gif" />
</div>
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-md-12">
                <HeaderWithButton header-name="DASHBOARD" btn-href="location.href='@rootPath/Dashboard/Calendar'" btn-text="Calendar" icon-name="assignment"></HeaderWithButton>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <a role="button" id="allEmployee">
                    <div class="icon">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">TOTAL EMPLOYEES</div>
                    <div id="totalEmployeeCount" class="number count-to"></div>
                </div>
            </div>


        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class=" info-box bg-light-green hover-expand-effect">
                <a role="button" id="employeePresent">
                    <div class="icon">
                        <i class="material-icons">assignment_ind</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">EMPLOYEE PRESENT</div>
                    <div id="employeePresentCount" class="number count-to"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

            <div class="info-box bg-cyan hover-expand-effect">
                <a role="button" id="employeeAbsent">
                    <div class="icon">
                        <i class="material-icons"> assignment_late</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">ABSENT / ON LEAVE</div>
                    <div id="employeeAbsentCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <a id="pendingLeaveButton" role="button">
                    <div class="icon">
                        <i class="material-icons">
                            account_circle
                        </i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">PENDING LEAVES</div>
                    <div id="employeeLeavesCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <!-- Attendance Data-->
        <div id="attendanceData">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" style="background-color:aliceblue;">
                        <h2>BANER</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="BanerAttendanceTable">
                                <thead>
                                    <tr class="active">
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>ClockIn</th>
                                        <th>ClockOut</th>
                                        <th>WorkingHours</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" style="background-color:aliceblue;">
                        <h2>KONDHWA</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="KondhwaAttendanceTable">
                                <thead>
                                    <tr class="active">
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>ClockIn</th>
                                        <th>ClockOut</th>
                                        <th>WorkingHours</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <!-- #END# Attendance Data -->
        <!-- Leave Data -->
        <div id="leavesData" hidden>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" style="background-color:aliceblue;">
                        <h2>BANER</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="BanerLeavesTable">
                                <thead>
                                    <tr class="active">
                                        <th>Actions</th>
                                        <th>Employee Name</th>
                                        <th>Leave Type</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Days</th>
                                        <th>Requested Date</th>
                                        <th>Status</th>
                                        <th>Leave Reason</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>



                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" style="background-color:aliceblue;">
                        <h2>KONDHWA</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="KondhwaLeavesTable">
                                <thead>
                                    <tr class="active">
                                        <th>Actions</th>
                                        <th>Employee Name</th>
                                        <th>Leave Type</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Days</th>
                                        <th>Requested Date</th>
                                        <th>Status</th>
                                        <th>Leave Reason</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>



                    </div>
                </div>



            </div>
        </div>
        <!-- #END# Leave Data -->
    </div>
</div>
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script src="~/js/pages/forms/basic-form-elements.js"></script>
<script src="~/js/pages/ui/modals.js"></script>
<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script>
    var buttonSelected = "All";
    $(document).ready(function () {
        selectOpt = $('#select option:selected').val();
        generateReport("All", 0);
    });
    $('#allEmployee').on('click', function () {
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "All";
        generateReport(buttonSelected, 0);
    });
    $('#employeePresent').on('click', function () {
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "Present";
        generateReport(buttonSelected, 0);

    });
    $('#employeeAbsent').on('click', function () {
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "Absent";
        generateReport(buttonSelected, 0);
    });

    $('#pendingLeaveButton').on('click', function () {
        $('#attendanceData').hide();
        $('#leavesData').show();
        buttonSelected = "Leaves";
        generateReport(buttonSelected, 0);
    });


    function generateReport(buttonSelected, location) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("HRDashboard","Dashboard")',
            data: { "attendanceStatus": buttonSelected, "location": location },
            beforeSend: function () {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                if (data != null) {
                    document.getElementById("totalEmployeeCount").innerHTML = data.sP_AdminDashboardCount.AllEmployeesCount ;
                    document.getElementById("employeePresentCount").innerHTML = data.sP_AdminDashboardCount.PresentEmployees;
                    document.getElementById("employeeAbsentCount").innerHTML = data.sP_AdminDashboardCount.AbsentEmployees;
                    document.getElementById("employeeLeavesCount").innerHTML = data.sP_AdminDashboardCount.PendingLeavesCount;
                    if (buttonSelected == "Leaves") {
                        getLeavesData(data.sp_AdminDashboardLeaves);
                    } else {
                        getData(data.sP_AdminDashboards);
                    }
                }
            },
            complete: function () {
                $('.ajax-loader').css("visibility", "hidden");
            }
        });
    }

    function getData(Employees) {
        var banerAttendanceArray = [];
        var KondhwaAttendanceArray=[];
        for (var i = 0; i < Employees.length; i++) {

            var TimeIn = Employees[i].TimeIn == null ? '-' : moment(Employees[i].TimeIn, 'HH:mm:ss').format('hh:mm A');;
            var TotalHours = Employees[i].TotalHours == null ? '-' : Employees[i].TotalHours;
            var Status = Employees[i].Status;
            if (Employees[i].TimeIn != null && Employees[i].TimeOut == null) {
                var expectedTimeOutDate = moment(Employees[i].TimeIn, 'HH:mm:ss').add(9, 'h').format('hh:mm A');
                TimeOut = '<span style="font-size:14px; font-weight:normal;" class="label label-info">Expected: ' + expectedTimeOutDate + '</span>';
            } else {
                TimeOut = Employees[i].TimeOut == null ? '-' : moment(Employees[i].TimeOut, 'HH:mm:ss').format('hh:mm A');
            }

            if (Status == "Present") {
                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
            } else {
                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
            }
            if (Employees[i].LocationName == "Baner") {
                banerAttendanceArray.push([Employees[i].EmployeeName, Status, TimeIn, TimeOut, TotalHours])
            } else {
                KondhwaAttendanceArray.push([Employees[i].EmployeeName, Status, TimeIn, TimeOut, TotalHours])
            }
        }
        $('#BanerAttendanceTable').DataTable().destroy();
        $('#BanerAttendanceTable').DataTable({
            data: banerAttendanceArray,
            "order": [2, "desc"],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[1].includes("Present")) {
                    $('td', nRow).addClass('success');
                }
                else {
                    $('td', nRow).addClass('warning');
                }
            }
        });
        $('#KondhwaAttendanceTable').DataTable().destroy();
        $('#KondhwaAttendanceTable').DataTable({
            data: KondhwaAttendanceArray,
            "order": [2, "desc"],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[1].includes("Present")) {
                    $('td', nRow).addClass('success');
                }
                else {
                    $('td', nRow).addClass('warning');
                }
            }
        });
    }

    function getLeavesData(Leaves) {
        var banerArrayLeaves = [];
        var kondhwaArrayLeaves = [];
        for (var i = 0; i < Leaves.length; i++) {
            var dateFrom = moment(Leaves[i].FromDate).format("DD MMM YYYY");
            var toDate = moment(Leaves[i].ToDate).format("DD MMM YYYY");
            var appliedDate = moment(Leaves[i].AppliedDate).format("DD MMM YYYY");
            var Status = Leaves[i].Status;
            var actionButton;
            if (Status == "Pending") {
                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Approve\')">Approve</a></li><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Reject\')">Reject</a></li></ul></div>';
            }
            else if (Status == "Approved" || Status.startsWith('Approved')) {
                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
                actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Pending\')">Mark Pending</a></li><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Reject\')">Reject</a></li></ul></div>';
            }
            else if (Status == "Rejected" || Status == "Cancelled") {
                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + Status + '</span>';
                actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu"><li><a class="disabledLink">Approve</a></li><li><a class="disabledLink">Mark Pending</a></li></ul></div>';
            }
            else if (Status == "Requested For Cancel") {
                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Accept Cancel\')">Accept Cancel</a></li><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Reject Cancel\')">Reject Cancel</a></li></ul></div>';
            }
            else {
                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Approve\')">Approve</a></li><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Pending\')">Mark Pending</a></li></ul></div>';
            }
            if (Leaves[i].LocationName == "Baner") {
                banerArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
            } else
                kondhwaArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate , Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
            }

        $('#BanerLeavesTable').DataTable().destroy();
        $('#BanerLeavesTable').DataTable({
            "aoColumns": [
                null,
                null,
                null,
                { "sType": "date" },
                { "sType": "date" },
                null,
                { "sType": "date" },
                null,
                null
            ],
            "order": [[7, "desc"], [6 , "desc"]],
            data: banerArrayLeaves,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[7].includes("Pending")) {
                    $('td', nRow).addClass('warning');
                }
                else if (aData[7].includes("Cancelled")) {
                    $('td', nRow).addClass('danger');
                } else if (aData[7].includes("Approved")) {
                    $('td', nRow).addClass('success');
                } else {
                    $('td', nRow).addClass('info');
                }
            }
        });

        $('#KondhwaLeavesTable').DataTable().destroy();
        $('#KondhwaLeavesTable').DataTable({
            "aoColumns": [
                null,
                null,
                null,
                { "sType": "date" },
                { "sType": "date" },
                null,
                { "sType": "date" },
                null,
                null
            ],
            "order": [[7, "desc"], [6, "desc"]],
            data: kondhwaArrayLeaves,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[7].includes("Pending")) {
                    $('td', nRow).addClass('warning');
                }
                else if (aData[7].includes("Cancelled")) {
                    $('td', nRow).addClass('danger');
                } else if (aData[7].includes("Approved")) {
                    $('td', nRow).addClass('success');
                } else {
                    $('td', nRow).addClass('info');
                }
            }

        });
    }
    function UpdateStatus(RequestId, Status) {
        var pid=@cookies.PersonId;
        var url1 = "@APIURL/api/LeaveRequest/UpdateStatus/" + RequestId + "/" + Status + "/" + pid + "";
        $.ajax({
            url: url1,
            type: 'POST',
            data: {},
            beforeSend: function () {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                bootbox.alert(
                    data,
                    function () {
                        window.location.reload();
                    }
                );
            },
            error: function () {
                bootbox.alert("Something went wrong..Please try after sometime");
            },
            complete: function () {
                $('.ajax-loader').css("visibility", "hidden");
            }
        });
    }
</script>
