@using EIS.Entities.Employee;
@using EIS.WebApp.Services
@model EIS.Entities.Dashboard.AdminDashboard
@{
    string rootPath = MyHttpContext.AppBaseUrl;
}
<style>
    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }

        .ajax-loader img {
            position: relative;
            top: 50%;
            left: 50%;
            /*width: 25%;
            height: 25%;
            opacity: 0.9;
            filter: alpha(opacity=50);*/
        }
</style>
<head>
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<div class="ajax-loader">
    <img src="~/gif/ajax-loader-circle.gif" />
</div>
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-md-12">
                <HeaderWithButton header-name="DASHBOARD" btn-href="location.href='@rootPath/Dashboard/AdminCalendar'" btn-text="Calendar" icon-name="assignment"></HeaderWithButton>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <a role="button" id="allEmployee">
                    <div class="icon">
                        <i class="material-icons">playlist_add_check</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">TOTAL EMPLOYEES</div>
                    <div id="totalEmployeeCount" class="number count-to"></div>
                </div>
            </div>


        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class=" info-box bg-light-green hover-expand-effect">
                <a role="button" id="employeePresent">
                    <div class="icon">
                        <i class="material-icons">playlist_play</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">EMPLOYEE PRESENT</div>
                    <div id="employeePresentCount" class="number count-to"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

            <div class="info-box bg-cyan hover-expand-effect">
                <a role="button" id="employeeAbsent">
                    <div class="icon">
                        <i class="material-icons"> do_not_disturb_on</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">EMPLOYEE ON LEAVE</div>
                    <div id="employeeAbsentCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <a id="pendingLeaveButton" role="button">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">PENDING LEAVES</div>
                    <div id="employeeLeavesCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <h2>Today's Attendance</h2>
                    <div>
                        <select class="form-control" id="select" style="width:165px" asp-items="@(new SelectList(@ViewBag.Locations,"Id","LocationName"))">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>
                <div class="body" id="attendanceCard">
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos" id="myTable">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>ClockIn</th>
                                    <th>ClockOut</th>
                                    <th>WorkingHours</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="body" id="leavesCard" hidden>
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos" id="myLeavesTable">
                            <thead>
                                <tr>
                                    <th>
                                        Location
                                    </th>
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Leave Type
                                    </th>
                                    <th>
                                        From Date
                                    </th>
                                    <th>
                                        To Date
                                    </th>
                                    <th>
                                        Days
                                    </th>
                                    <th>
                                        Available
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Leave Reason
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>



                </div>
            </div>



        </div>
        <!-- #END# Task Info -->
        <!-- Answered Tickets -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="body bg-teal">
                    <div class="font-bold m-b--35">ANSWERED TICKETS</div>
                    <ul class="dashboard-stat-list">
                        <li>
                            TODAY
                            <span class="pull-right"><b>12</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            YESTERDAY
                            <span class="pull-right"><b>15</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            LAST WEEK
                            <span class="pull-right"><b>90</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            LAST MONTH
                            <span class="pull-right"><b>342</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            LAST YEAR
                            <span class="pull-right"><b>4 225</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            ALL
                            <span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #END# Answered Tickets -->
    </div>
</div>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script>
    var buttonSelected = "All";
    var selectOpt;
    $(document).ready(function () {
        selectOpt = $('#select option:selected').val();
        generateReport("All", selectOpt);
    });
    $('#allEmployee').on('click', function () {
        $('#leavesCard').hide();
        $('#attendanceCard').show();
        buttonSelected = "All";
        selectOpt = $('#select option:selected').val();
        generateReport(buttonSelected, selectOpt);
    });
    $('#employeePresent').on('click', function () {
        $('#leavesCard').hide();
        $('#attendanceCard').show();
        buttonSelected = "Present";
        selectOpt = $('#select option:selected').val();
        generateReport(buttonSelected, selectOpt);

    });
    $('#employeeAbsent').on('click', function () {
        $('#leavesCard').hide();
        $('#attendanceCard').show();
        buttonSelected = "Absent";
        selectOpt = $('#select option:selected').val();
        generateReport(buttonSelected, selectOpt);

    });

    $('#pendingLeaveButton').on('click', function () {
        $('#attendanceCard').hide();
        $('#leavesCard').show();
        buttonSelected = "Leaves";
        selectOpt = $('#select option:selected').val();
        generateReport(buttonSelected, selectOpt);
    });

    $('#select').on('change', function () {
        selectOpt = $('#select option:selected').val();
        generateReport(buttonSelected, selectOpt);
    });

    function generateReport(employeecount, location) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("HRDashboard","Dashboard")',
            data: { "attendanceStatus": employeecount, "location": location },
            beforeSend: function () {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                if (data != null) {
                    debugger;
                    document.getElementById("totalEmployeeCount").innerHTML = data.sP_AdminDashboardCount.AllEmployeesCount ;
                    document.getElementById("employeePresentCount").innerHTML = data.sP_AdminDashboardCount.PresentEmployees;
                    document.getElementById("employeeAbsentCount").innerHTML = data.sP_AdminDashboardCount.AbsentEmployees;
                    document.getElementById("employeeLeavesCount").innerHTML = data.sP_AdminDashboardCount.PendingLeavesCount;
                    getData(data.sP_AdminDashboards);
                    getLeavesData(data.sp_AdminDashboardLeaves);

                }
            },
            complete: function () {
                $('.ajax-loader').css("visibility", "hidden");
            }
        });
    }

    function getData(Employees) {

        var array=[];
        for (var i = 0; i < Employees.length; i++) {
                var TimeIn = Employees[i].TimeIn == null ? '-' : Employees[i].TimeIn;
                var TimeOut = Employees[i].TimeOut == null ? '-' : Employees[i].TimeOut;
                var TotalHours = Employees[i].TotalHours == null ? '-' : Employees[i].TotalHours;
                array.push([Employees[i].LocationName, Employees[i].EmployeeName, Employees[i].Status, TimeIn, TimeOut, TotalHours])

        }
        $('#myTable').DataTable().destroy();
         $('#myTable').DataTable({
             data: array
        });
    }

    function getLeavesData(Leaves) {
        var arrayLeaves = [];
        for (var i = 0; i < Leaves.length; i++) {
            var dateFrom = moment(Leaves[i].FromDate).format("DD MMM YYYY");
            arrayLeaves.push([Leaves[i].LocationName, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, moment(Leaves[i].ToDate).format("DD MMM YYYY"), Leaves[i].RequestedDays, Leaves[i].Available, Leaves[i].Status, Leaves[i].Reason])
        }
        $('#myLeavesTable').DataTable().destroy();
        $('#myLeavesTable').DataTable({
            data: arrayLeaves
        });
    }

</script>
