@model IEnumerable<EIS.Entities.Employee.Person>

<head>
    <link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />

    <script src="~/lib/bootstrap/dist/js/bootbox.js"></script>
    <style type="text/css">
    </style>
</head>

@{
    if (ViewBag.Message != null)
    {
        <script>
            bootbox.alert({
                message: "@ViewBag.Message"
            });
        </script>
        ViewBag.Message = null;
    }
}

<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Admin Dashboard</h3>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2 align-right">
                <p>
                    <a class="btn btn-primary waves-effect" asp-controller="People" asp-action="Create" id="create"><span><i class="glyphicon glyphicon-plus" style="font-size:13px;"></i><text style="font-size:16px;">Create</text></span></a>
                </p>
            
                    <select class="form-control" id="select" style="width:165px;">
                        <option id="active" value="active">Active</option>
                        <option id="inActive" value="inActive">InActive</option>
                    </select>
               
            </div>
            
        </div>
        
 </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    
                    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>IdCard</th>
                                <th>FirstName</th>
                                <th>Image</th>
                                <th> Gender</th>
                                <th>DateOfBirth</th>
                                <th>MobileNumber</th>
                                <th>EmailAddress</th>
                                <th>AadharCard</th>
                                <th>PanCard</th>
                                <th>JoinDate</th>
                                <th>LeavingDate</th>
                                <th>Salary</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dataTables_wrapper .myexport .dt-buttons {
        float: right;
    }
</style>
<script>
    $('#select').on('change', function () {
        var v = $('#select').val();
        alert(v);
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/People/Index")',
        })
    })
</script>
<script>
    var setting = null;
    $(document).ready(function () {
        var dTable = $('#example').DataTable({
            sDom: '<"myexport"B>ifrtlp',
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            buttons: [
         
                {
                    extend: 'pdfHtml5',
                    title: 'Employee Report',
                    text: 'Export',
                    titleAttr: 'Export to Pdf',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }
          ],
            lengthMenu: [
                [5, 10, 25, -1],
                ['5', '10', '25', 'All']
            ],
            ajax: {
                "url": "/People/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return data + " " + row.MiddleName + " " + row.LastName;
                    },
                    "targets": 1
                },
            ],
            "columns": [
                { "data": "IdCard", "name": "IdCard", "autoWidth": true },
                {
                    "data": "FirstName", "name": "FirstName", "autoWidth": true
                },

                {
                    "data": "Image", "name": "Image", "autoWidth": true, "render": function (data) {
                        return '<img src="data:image/png;base64,' + data + '" style="height:30px; weight:30px">';
                    }
                },
                { "data": "Gender", "name": "Gender", "autoWidth": true },
                {
                    "data": "DateOfBirth", "name": "DateOfBirth", "autoWidth": true, "render": function (data) {
                        data = moment(data).format('DD MMM YYYY');
                        return data;
                    }
                },
                { "data": "MobileNumber", "name": "MobileNumber", "autoWidth": true },
                { "data": "EmailAddress", "name": "EmailAddress", "autoWidth": true },
                { "data": "AadharCard", "name": "AadharCard", "autoWidth": true },
                { "data": "PanCard", "name": "PanCard", "autoWidth": true },
                {
                    "data": "JoinDate", "name": "JoinDate", "autoWidth": true, "render": function (data) {
                        data = moment(data).format('DD MMM YYYY');
                        return data;
                    }
                },
                {
                    "data": "LeavingDate", "name": "LeavingDate", "autoWidth": true, "render": function (data) {
                        data = moment(data).format('DD MMM YYYY');
                        return data;
                    }
                },
                { "data": "Salary", "name": "Salary", "autoWidth": true },
                {
                    data: null, "autoWidth": true, render: function (data, type, row) {
                        return '<div class="dropdown"> <button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">build</i></button><ul class="dropdown-menu pull-right"><li><a href="/People/Edit?id=' + row.Id + '">Edit</a></li><li><a href="/People/Delete?id=' + row.Id + '">Delete</a></li></ul></div>';
                    }
                }
            ],
            "initComplete": function () {
                var $searchInput = $('div.dataTables_filter input');
                $searchInput.unbind();
                $searchInput.bind('keyup', function (e) {
                    if (this.value.length >= 3 || this.value.length == 0) {
                        dTable.search(this.value).draw();
                    }
                });
            }
        });
    });
</script>


@*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>


<script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>